.categoriesContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 80%;
    gap: 10px;
    margin: 40px auto;
    border: 2px solid gray;
    padding: 20px;
}
.categorys{
    border: 4px solid gold;
    background-color: black;
}
.categoryP{
    color: white;
}